* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.btn {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    margin: 10px 0px;
    background: #577D86;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}